legend span {
    font-style: italic;
    display: block;
}

h1 a, a:hover {
    color: #333333;
    text-decoration: none;
}

.header {
    margin: 5px;
}
.css-form input.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

form{
    padding: 8px;
}

td.buttons {
    width: 10%;
}

a.btn {
    margin-bottom : 10px;
}

