<a class="btn btn-primary" href="#/overview">overview</a>

<!--<div class="row-fluid" ng-controller="kmInput">-->
<div class="row-fluid" >
    <button class="btn btn-warning" ng-show="form.LastDayError" ng-click="goTo(form.LastDayError)">Vergeten te klokken</button>

    <form class="form-horizontal css-form" role="form" name="kmform" novalidate>
        <div class="form-group">
            <label for="datumprik" class="control-label col-sm-2">Datum</label>
            <div class="col-sm-6">
                <div id="datepicker">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span><input type="text" id="datumprik" name="datumprik" class="form-control" ng-model="form.Date">
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="field in form.Fields">
            <div class="form-group">
                <label for="{{field.Name}}" class="control-label col-sm-2">{{field.Name}}</label>
                <div class="col-sm-10">
                    <!-- kilometer field -->
                    <div  class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-road"></span></div>
                        <input autocomplete="off" type="number" ng-model="field.Km" id="{{field.Name}}" name="{{field}}"
                               onfocus="this.value=this.value" ng-enter="save()" class="form-control" integer />
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-time"></span></div>
                        <input autocomplete="off"  ng-model="field.Time" id="{{field.Name}}" name="{{field}}"
                               onfocus="this.value=this.value" ng-enter="save()" class="form-control"  />
                    </div>
                </div><!-- col-sm-10 -->
            </div><!-- form group -->
        </div> <!-- ng-repeat -->
        <div class="col-sm-10">
            <div class="form-group">
                <button class="btn btn-default" ng-click="save()">Save</button>
            </div>
        </div><!--button column -->
    </form>

</div> <!-- row -->
