<a class="btn btn-primary" href="#/overview">overview</a>

<!--<div class="row-fluid" ng-controller="kmInput">-->
<div class="row-fluid" >
    <button class="btn btn-warning" ng-show="form.LastDayError" ng-click="goTo(form.LastDayError)">Vergeten te klokken</button>

    <form class="form-horizontal css-form" role="form" name="kmform" novalidate>
        <div class="form-group">
            <label for="datumprik" class="control-label col-sm-2">Datum</label>
            <div class="col-sm-6">
                <div id="datepicker">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span><input type="text" id="datumprik" name="datumprik" class="form-control" ng-model="form.Date">
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="field in fields">
            <div class="form-group">
                <label for="{{field}}" class="control-label col-sm-2">{{field}}</label>
                <div class="col-sm-10">
                    <!-- kilometer field -->
                    <ng-switch on="form[field].Editable">
                        <div ng-switch-when="false" class="input-group has-success">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-road"></span></div>
                            <input autocomplete="off" type="number" ng-model="form[field].Km" id="{{field}}" name="{{field}}"
                                   onfocus="this.value=this.value" ng-enter="save('{{field}}', form.{{field}}.Value)" class="form-control" integer />
                        </div>
                        <div ng-switch-when="true" class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-road"></span></div>
                            <input autocomplete="off" type="number" ng-model="form[field].Km" id="{{field}}" name="{{field}}"
                                   onfocus="this.value=this.value" ng-enter="save('{{field}}', form.{{field}}.Value)" class="form-control" integer />
                        </div>
                    </ng-switch>
                    <ng-switch on="form[field].Editable">
                        <div ng-switch-when="false" class="has-success input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-time"></span></div>
                            <input autocomplete="off" type="number" ng-model="form[field].Time" id="{{field}}" name="{{field}}"
                                   onfocus="this.value=this.value" ng-enter="save('{{field}}', form.{{field}}.Value)" class="form-control" integer />
                        </div>
                        <div ng-switch-when="true" class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-time"></span></div>
                            <input autocomplete="off" type="number" ng-model="form[field].Time" id="{{field}}" name="{{field}}"
                                   onfocus="this.value=this.value" ng-enter="save('{{field}}', form.{{field}}.Value)" class="form-control" integer />
                        </div>
                    </ng-switch>
                </div><!-- col-sm-10 -->
            </div><!-- form group -->
        </div> <!-- ng-repeat -->
        <div class="col-sm-10">
            <div class="form-group">
                <button type="sumbit" class="btn btn-default">Save</button>
            </div>
        </div><!--button column -->
    </form>

</div> <!-- row -->
