<!--<div class="row-fluid" ng-controller="kmInput">-->
<div class="row header">
    <div class="col-sm-10">
        <a class="btn btn-primary btn-sm" ng-hide="overview" href="#/overview">overview</a>
        <a class="btn btn-primary btn-sm" ng-hide="input" href="#/input/today">input</a>
        <a class="btn btn-sm btn-warning" ng-show="form.LastDayError" ng-click="goTo(form.LastDayError)">Vergeten te klokken</a>
    </div>
</div>
<form class="form-horizontal css-form" role="form" name="kmform" novalidate>
    <div class="row">
        <div class="form-group">
            <label for="datumprik" class="control-label col-sm-2">Datum</label>
            <div class="col-sm-10">
                <div id="datepicker">
                    <div id="datumprik" class="input-group date">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span><input type="text" class="form-control" ng-model="form.Date">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
    <div ng-repeat="field in form.Fields">
        <div class="form-group">
            <label for="{{field.Name}}" class="control-label col-sm-2">{{field.Name}}</label>
            <div class="col-sm-10">
                <div class="input-group" ng-class="{'has-success':field.Saved}">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-road"></span></div>
                    <input autocomplete="off" type="number" ng-model="field.Km" id="{{field.Name}}" name="{{field}}"
                    onfocus="this.value=this.value" ng-enter="save()" class="form-control" integer />

                    <div class="input-group-addon" ng-click="updateTime($index)"><span class="glyphicon glyphicon-time" ></span></div>
                    <input autocomplete="off"  ng-model="field.Time" id="{{field.Name}}" name="{{field}}"
                       onfocus="this.value=this.value" ng-enter="save()" class="form-control"  />
                </div>
            </div><!-- col-sm-10 -->
        </div><!-- form group -->
    </div> <!-- ng-repeat -->
    </div> <!-- row -->
    <div class="col-sm-10">
        <div class="form-group">
            <button class="btn btn-default" ng-click="save()">Save</button>
        </div>
    </div><!--button column -->
</form>
