<div class="row header">
    <div class="col-sm-10">
        <a class="btn btn-primary btn-sm" ng-hide="overview" href="#/overview">overview</a>
        <a class="btn btn-primary btn-sm" ng-hide="input" href="#/input/today">input</a>
    </div>
</div>
<tabset>
    <tab heading="Kilometers" select="loadData('kilometers')" active="kiloActive">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Begin</th>
                        <th>Eerste</th>
                        <th>Laatste</th>
                        <th>Terugkomst</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="kilometer in kilometers" class="repeated-item">
                        <td>{{kilometer.Date |date:'EEE dd-MM-yyyy'}}</td>
                        <td>{{kilometer.Begin}}</td>
                        <td>{{kilometer.Eerste}}</td>
                        <td>{{kilometer.Laatste}}</td>
                        <td>{{kilometer.Terug}}</td>
                        <td class="buttons">
                            <button type="button" class="btn btn-sm" ng-click="edit(kilometer.Date)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="deleteRow(kilometer.Date, $index)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </tab>

    <tab select="loadData('tijden')" heading="Tijden" active="timesActive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Begin</th>
                    <th>Checkin</th>
                    <th>Checkout</th>
                    <th>Terug</th>
                    <th>Aantal uur</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in times" class="repeated-item">
                    <td>{{t.Date |date:'EEE dd-MM-yyyy'}}</td>
                    <td><span>{{t.Begin}}</span></td>
                    <td> <span>{{t.CheckIn}}</span> </td>
                    <td> <span>{{t.CheckOut}}</span> </td>
                    <td><span>{{t.Laatste}}</span></td>
                    <td>{{t.Hours | number:1}}</td>
                    <td class="buttons">
                        <button type="button" class="btn btn-sm" ng-click="edit(t.Date)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" ng-click="deleteRow(t.Date, $index)">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </tab>
</tabset>
<button type="button" class="btn" ng-click="go('prev')"><span class="glyphicon glyphicon-step-backward"></span>{{prev.date | date:'MMM'}}</button>
<button type="button" class="btn" ng-click="go('next')" ng-show="next">{{next.date | date:'MMM'}}<span class="glyphicon glyphicon-step-forward"></span></button>
